$d-gray: #979797;
$l-gray: #f5f3f3;

.friends-header {
  display: flex;
  justify-content: space-between;
  margin: {
    top: 70px;
    right: 20px;
    left: 15px;
    bottom: 20px;
  }
  font-size: 30px;
  font-weight: 800;
  .fa-music {
    margin: 0 20px;
  }
}

.friends-display {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  background-color: #fffbfb;

  span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d5e1;
    width: 18px;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
  }
  i {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #d1d5e1;
  }
}

// Porfile

.main {
  margin: 5px 15px;
  .friends-profile {
    display: flex;
    margin: 10px 0;

    img {
      width: 80px;
      height: 80px;
      border-radius: 20px;
      margin-right: 15px;
    }
    &__name {
      display: flex;
      align-items: center;
      span {
        font-weight: 600;
        font-size: 22px;
      }
    }
  }
}

.friends-profile-channel {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  color: #979797;
  border-top: 1px solid $l-gray;
}

.small {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .friends-profile__img {
    display: flex;
    img {
      border-radius: 15px;
      margin-right: 20px;
      width: 55px;
      height: 55px;
    }
    span {
      font-size: 16px;
    }
  }
  .friends-profile__info {
    color: #979797;
  }
}
