.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #f0f0f0;

  padding: 25px 0;
  ul {
    display: flex;
    justify-content: space-around;

    i {
      font-size: 28px;
    }
  }
}
